/*--------------------------------------------FONT Framework*/
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&display=swap');

/*--------------------------------------------Color*/
body{
    background-color: #63ADD2;
}

/*--------------------------------------------Heading*/
header{
    margin: 0;
}


.logo {
    background: url(../images/logo2.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    width: 100%;     
    min-height: 360px;
    height: auto;
    transition: .9s ease-in-out;
}

.headings{
    background-color: #63ADD2;
}

.jumbotron {    
    background-color: #63ADD2;
    padding: 4rem 2rem;
}

.jumbotron a {
    margin-top: 40px;
    width: 200px;
}

.jumbotron a.custom-btn {
    width: 300px !important; 
    height: 60px !important; 
    font-size: 20px !important; 
    padding: 15px 30px !important; 
    margin: 10px !important; 
}

/*--------------------------------------------main section*/

.pic {   
    background: url(../images/diversity.png);     
    background-position: center;
    background-repeat: no-repeat;    
    background-size: contain; 
    width: 100%;     
    min-height: 650px;
    transition: .9s ease-in-out;
     /* display: flex;
    justify-content: center;
    text-align: center;
    height: auto; */
    
}
/*--------------------------------------------Footer*/

footer {
    background-color: #63ADD2;
    padding: 500px;
    text-align: center;
}

/*--------------------------------------------Media Queries 4 Mobile*/
@media (max-width: 768px) {
    .pic {
        min-height: 300px; 
        margin-top: -70px; 
    }

    .jumbotron {
        padding: 2rem 1rem; 
    }

    .jumbotron a {
        margin-top: 20px; 
        width: 100%; 
    }

}

/*--------------------------------------------Media Queries 4 desktop*/
@media (min-width: 769px) {
    .pic {
        min-height: 650px; 
        margin-top: 20px; 
    }

    .jumbotron {
        padding: 4rem 2rem; 
    }

    .jumbotron a {
        margin-top: 30px; 
        width: auto; 
    }
}