/*--------------------------------------------FONT Framework*/
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&display=swap');

/*--------------------------------------------Color*/
body {
    background-color: #63ADD2;
}

/*--------------------------------------------Heading*/
header {
    margin: 0;
}


.logo {
    background: url(../images/logo2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 360px;
    height: auto;
    transition: .9s ease-in-out;
}

.headings {
    background-color: #63ADD2;
}

.jumbotron {
    background-color: #63ADD2;
    padding: 4rem 2rem;
}

/*--------------------------------------------main section*/

.pic {
    background: url(../images/diversity.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 650px;
    transition: .9s ease-in-out;
}

.learn p {
    margin-top: 30px;
}

.address {
    line-height: 0;
}

/*--------------------------------------------Footer*/

footer {
    background-color: #63ADD2;
    padding: 50px;
    text-align: center;
}

#footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 30%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #5645ee;
    transition: all 0.9s ease-in-out;
}

.social li a i:hover {
    background: #00ce2d;
}

/*--------------------------------------------Media Queries 4 Mobile*/
@media (max-width: 768px) {
    .pic {
        min-height: 300px;
        margin-top: -70px;
    }

    .jumbotron {
        padding: 2rem 1rem;
    }

    .jumbotron a {
        margin-top: 20px;
        width: 100%;
    }

}

/*--------------------------------------------Media Queries 4 desktop*/
@media (min-width: 769px) {
    .pic {
        min-height: 650px;
        margin-top: 20px;
    }

    .jumbotron {
        padding: 4rem 2rem;
    }

    .jumbotron a {
        width: 200px;
        height: 60px;
        font-size: 20px;
        padding: 15px 30px;
        margin: 10px;
    }
}